body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.25em;
  margin: 1em 0 0.5em 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.25s;
}

a:hover {
  color: rgba(0, 0, 0, 1);
}

ul li h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: -1em;
}

.section-item ul {
  margin: 0;
  padding-left: 0.5em;
}

.section-item ul li {
  margin-left: 1em;
}

@media only screen and (min-width: 960px) {
  ul li h2 {
    font-size: 1.142857142857143em;
    margin-bottom: -0.875em;
  }

  .section-item ul li {
    margin-left: 1.142857142857143em;
  }
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }
}

.site-nav-container {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.site-nav {
  flex: 1;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1024px;
  width: 100%;
}

.site-nav .nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.875em;
}

@media only screen and (min-width: 360px) {
  .site-nav .nav-items {
    font-size: 1em;
  }
}

.site-nav .nav-items .nav-item {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: 1.125em;
  display: none;
  margin-right: 1.125em;
}

@media only screen and (min-width: 1024px) {
  .site-nav .nav-items .nav-item {
    display: initial;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  .site-nav .nav-items .nav-item {
    display: initial;
  }
}

.site-nav .nav-items .nav-item:first-of-type {
  display: initial;
  margin-right: auto;
}

.site-nav .nav-items .nav-item:nth-last-child(2) {
  display: initial;
}

.site-nav .nav-items .nav-item:last-of-type {
  display: initial;
  margin-right: 0;
}

@media only screen and (min-width: 300px) {
  .site-nav .nav-items .nav-item::after {
    margin: 0 0.75em;
  }
}

.site-nav .nav-items .nav-item:first-of-type::after,
.site-nav .nav-items .nav-item:last-of-type::after {
  content: none;
}

.site-nav .nav-link {
  cursor: pointer;
  color: rgba(0,0,0,0.625);
  text-decoration: none;
  transition: color 0.25s;
  font-weight: bold
}

.site-nav .nav-home-item .nav-link {
  color: rgba(0,0,0,0.575);
  font-weight: bold;
} 

.site-nav .nav-link.active {
  color: rgba(0,0,0,0.75);
  text-decoration: underline;
}

.site-nav .nav-home-item .active {
  text-decoration: none;
}

.site-nav .nav-link:hover,
.site-nav .nav-items .nav-item:first-of-type .nav-link.active:hover {
  text-decoration: underline;
  color: rgba(0,0,0,1);
}

.index-header {
  flex: 1;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.index-intro-container {
  align-self: flex-end;
  padding: 1em 5%;
  height: 61.8%;
  min-height: 61.8%;
  width: 100%;
  background: linear-gradient(0deg, rgba(194, 194, 194, 1) 0%, rgba(194, 194, 194, 0.75) 50%, rgba(194, 194, 194, 0) 100%);
  display: flex;
}

.index-intro {
  align-self: flex-end;

}

@media only screen and (min-width: 640px) {
  .index-header {
    flex-direction: row;
  }

  .index-intro {
    margin-bottom: 1em;
  }
}

.portrait-image-container {
  flex: 1;
  position: relative;
  align-self: flex-end;

}

.portrait-image {
  position: absolute;
  bottom: 0;
}

.portrait-image img {
  max-height: 66vh;
  width: initial;
  height: initial;
  margin-left: -10%;
}

.index-title {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}

.index-subtitle {
  font-family: 'Roboto Slab';
  font-weight: bold;
  margin: 0.25em 0 0.25em 0;
}

.index-description {
  color: rgba(0, 0, 0, .625);
  font-size: 0.875em;
  max-width: 480px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

@media only screen and (min-width: 360px) {
  .index-description {
    font-size: 1em;

  }
}

@media only screen and (min-width: 480px) {
  .index-title {
    font-size: 2.75em;
  }

  .index-subtitle {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 640px) {
  .index-title {
    font-size: 3em;

  }
  .index-description {
    font-size: 0.875em;
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 768px) {
  .index-title {
    font-size: 3.5em;
  }
  
}


@media only screen and (min-width: 960px) {
  .index-header {
    padding: 0 5%;
  }
  
  .index-intro-container {
    background: none;
    min-height: initial;
    align-self: center;
    padding: 0;
  }

  .index-intro{
    align-self: center;
  }

  .site-background-container.index-background {
    background-position: 43% !important;
  }

  .site-background-container {
    padding-top: 96px !important;
  }

  .site-nav-container {
    height: 96px;
  }

  .index-subtitle {
    color: rgba(0,0,0,0.625);
    margin: 0 0 1.5em 0;
  }

  .index-description {
    font-weight: 600;
    font-size: 1em;
    max-width: 460px;
    letter-spacing: -0.02em;
    color: rgba(0,0,0,0.625);
  }
}

@media only screen and (min-width: 1140px) {
  .site-background-container.index-background {
    background-position: 50% 33% !important;
  }

  .site-nav .nav-items {
    margin-top: 0.25em
  }

  .site-nav .nav-items .nav-home-item {
      font-size: 1.5em;
      position: relative;
      top: -0.25em;
  }
}

@media only screen and (min-width: 1024px) {
  .index-title {
    font-size: 4.5em;
    letter-spacing: -0.05em;
  }

  .index-subtitle {
    font-size: 1.25em;
  }
}

.index-description a {
  color: inherit;
}

.site-footer-container {
  background-color: #ccc;
  background-image: url("../img/Bakgrund-Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.site-footer {
  margin: 0 auto;
  padding: 2.5em 5%;
  max-width: 1024px;
  color: rgba(0,0,0,0.75);
}

.site-footer a {
  color: rgba(0,0,0,0.75);
}

.site-footer .site-title {
  font-size: 1em;
}

.site-footer .contact-information {
  display: flex;
  font-weight: 600;
  color: rgba(0,0,0,0.625);
}

.site-footer .contact-information a {
  color: rgba(0,0,0,0.625);
}

.site-footer .contact-information a:hover {
  color: rgba(0,0,0,1);
}

.site-footer .contact-information section > *:first-child {
  margin-top: 0;
}

.site-footer .contact-information section:last-of-type {
  margin-left: 3em;
}

.page-section-container:nth-child(odd){
  background: #f7f7f7;
}

.page-section-container:nth-child(even){
  background: #fff;
}

.page-section {
  margin: 0 auto;
  padding: 3em 5%;
  max-width: 1024px;
}

.section-header {
  margin-bottom: 3em;

}

@media only screen and (min-width: 640px) {
  .section-header {
    width: 62.5%;
    min-width: 513px;
  }
}

.section-link {
  cursor: pointer;
  text-decoration: none;
}

.section-header > *:first-of-type {
  margin-top: 0;
}

.section-item {
  margin-bottom: 3em;
}

.section-item-link {
  text-decoration: none;
}

.section-item-link:hover {
  text-decoration: underline;
}

.section-more-content {
  margin-top: 1.5em;
}

@media only screen and (min-width: 480px) {
  .section-items {
    display: flex;
    flex-wrap: wrap;
  }

  .section-items > .section-item:nth-child(odd) {
    padding-right: 2.5%;
  }

  .section-items > .section-item:nth-child(even) {
    padding-left: 2.5%;
  }

  .section-item {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .items-3 .section-item {
    flex: 1;
  }

  .items-3 .section-item:nth-child(even) {
    padding: 0 1.25%;
  }

  .items-3 .section-item:last-child {
    padding: 0 0 0 2.5%;
  }
}

@media only screen and (min-width: 640px) {
  .section-item {
    font-size: 0.875em;
  }
}

@media only screen and (min-width: 960px) {
  .section-item {
    font-size: 1em;
    max-width: 512px;
  }
  .section-item-content {
    font-size: 0.875em;
  }

  .items-1 .section-item:first-of-type {
    padding-left: 0;
  }
}

.featured-image {
  width: 100%;
  height: auto;
  max-width: 460px;
}

.page-title {
  margin: 0 auto 0.5em auto;
  padding: 0 5%;
  max-width: 700px;
}

.page-content {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 700px;
}

.page-content p {
  margin-bottom: 1.5em;
}

.page-article {
  padding: 3em 0 4.5em 0;
  background: #fff;
}

.section-header-content {
  color: rgba(0, 0, 0, 0.75);
}

.section-item-content {
  color: rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  .page-content {
    font-size: 1.125em;
  }

  .page-content ul {
    font-size: 0.8888888888888889em;
    margin: 1.5em 0;
  }

  .section-header-content {
    font-size: 1.125em;
  }
}

.site-background-container {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  padding-top: 64px;
  background-color: #ccc;
  background-image: url("../img/Bakgrund-Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-background-container.index-background {
  background-image: url("../img/Bakgrund-Index.jpg") !important;
  background-position: 90% 50%;
}

.index-header-container {
  overflow: hidden;
  display: flex;
}

.site-background-container.index-background,
.index-header-container{
  height: 61.8vh;
}

@media only screen and (min-width: 768px) {
  
  .site-background-container.index-background,
  .index-header-container{
    height: 73vh;
    background-position: 75% 50%;
  }
}
.site-background {
  width: 100%;
}

.box-container {
  background: #ffffdd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  padding: 0.25em 0 1.75em 0;
}

@media only screen and (min-width: 640px) {
  .box-container {
    font-size: 0.875em;
  }
}

.box {
  padding: 0 5%;
}
.box ul {
  padding-left: 0.5em;
}

.box ul li {
  margin-left: 1em;
}

@media only screen and (min-width: 768px) {
  .page-content.extra {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    padding: 0 3.75%;
  }

  .box-container {
    background: #ffffdd;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    margin: 0 -3.75%;
    padding: 0.125em 0 1.875em 0;

  }
}

.page-content .content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-content .content-list li {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;

}

.page-content .content-list li:first-child {
  padding-top: 0;
}

.page-content .content-list li:last-child {
  border-bottom: none;
}

.list-item-image-container {
  margin-bottom: 1em;
}

@media only screen and (min-width: 640px) {
  .page-content .content-list li {
    display: flex;
    font-size: 0.875em;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0 2.5em 0;
  }

  .page-content .content-list li > * {
    flex: 1;
  }

  .list-item-content-container {
    padding-left: 5%;
  }

  .list-item-image-container {
    padding-right: 5%;
    align-self: flex-start;
    margin-bottom: 0;
  }

}

.list-page .page-title,
.list-page .page-content {
  max-width: 1024px;
}


.omslag {
  max-width: 240px;
  margin: 2.5em auto 2.5em auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}


@media only screen and (min-width: 640px) {
  .omslag {
    width: 240px;
    float: right;
    margin: 0 0 5em 2.5em;
  }
  
}
