body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background: red;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.25s;
}

a:hover {
  color: rgba(0, 0, 0, 1);
}

ul li h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: -1em;
}

.section-item ul {
  margin: 0;
  padding-left: 0.5em;
}

.section-item ul li {
  margin-left: 1em;
}

@media only screen and (min-width: 960px) {
  ul li h2 {
    font-size: 1.142857142857143em;
    margin-bottom: -0.875em;
  }

  .section-item ul li {
    margin-left: 1.142857142857143em;
  }
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }
}

.site-nav-container {
  display: flex;
  align-items: center;
  min-height: 96px;
}

.site-nav {
  flex: 1;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1024px;
}

.site-nav .nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav .nav-items .nav-item {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .site-nav .nav-items .nav-item {
    display: initial;
  }
}

.site-nav .nav-items .nav-item:first-of-type {
  display: initial;
  margin-right: auto;
}

.site-nav .nav-items .nav-item:nth-last-child(2) {
  display: initial;
}

.site-nav .nav-items .nav-item:last-of-type {
  display: initial;
}

.site-nav .nav-items .nav-item::after {
  content: '\2022';
  margin: 0 0.25em;
  color: rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 300px) {
  .site-nav .nav-items .nav-item::after {
    margin: 0 0.75em;
  }
}

.site-nav .nav-items .nav-item:first-of-type::after,
.site-nav .nav-items .nav-item:last-of-type::after {
  content: none;
}

.site-nav .nav-link {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.875);
  text-decoration: none;
  transition: color 0.25s;
}

.site-nav .nav-home-item .nav-link {
  color: rgba(255, 255, 255, 1);
} 

.site-nav .nav-link.active {
  color: rgba(255, 255, 255, 1);
}

.site-nav .nav-link:hover,
.site-nav .nav-items .nav-item:first-of-type .nav-link.active:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

.index-header-container {
  display: flex;
}

.index-header {
  flex: 1;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.index-intro {
  flex: 1;
  align-self: center;
  margin: 1.5em 0;
}

@media only screen and (min-width: 640px) {

  .index-header-container {
    min-height: 61.8vh;
  }
  
  .index-header {
    flex-direction: row;
  }

  .index-description {
    max-width: 360px;
  }

  .index-intro {
    margin: 2em 0 3em 0;
    padding-right: 5%;
  }
}

.portrait-image-container {
  display: flex;
  align-items: flex-end;  
  flex: 1;
}

@media only screen and (min-width: 1024px) {
  .portrait-image-container {
    padding-left: 5%;
    margin-left: -20%;
  }
}
.project-image {
  height: 100px;
}

.index-title {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  .index-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  .index-title {
    font-size: 3.5em;
  }
}

.index-subtitle {
  color: #fff;
}

.index-description {
  color: rgba(255, 255, 255, 0.875);
}

.index-description a {
  color: inherit;
}

.site-background-container,
.site-footer-container {
  background: #8497c6;
}

.site-footer {
  margin: 0 auto;
  padding: 2.5em 5%;
  max-width: 1024px;
  color: #fff;
}

.site-footer a {
  color: #fff;
}

.site-footer .site-title {
  font-size: 1em;
}

.site-footer .contact-information {
  display: flex;
  color: rgba(255, 255, 255, 0.875);
}

.site-footer .contact-information a {
  color: rgba(255, 255, 255, 0.875);
}

.site-footer .contact-information a:hover {
  color: rgba(255, 255, 255, 1);
}

.site-footer .contact-information section > *:first-child {
  margin-top: 0;
}

.site-footer .contact-information section:last-of-type {
  margin-left: 3em;
}

.page-section-container:nth-child(odd){
  background: #f9f9ff;
}

.page-section-container:nth-child(even){
  background: #f0f0f7;
}

.page-section {
  margin: 0 auto;
  padding: 3em 5%;
  max-width: 1024px;
}

.section-header {
  margin-bottom: 3em;

}

@media only screen and (min-width: 640px) {
  .section-header {
    width: 45%;
    min-width: 513px;
    margin-right: 5%;
  }
}

.section-link {
  cursor: pointer;
  text-decoration: none;
}

.section-header > *:first-of-type {
  margin-top: 0;
}

.section-item {
  margin-bottom: 3em;
}

.section-item-link {
  text-decoration: none;
}

.section-item-link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 480px) {
  .section-items {
    display: flex;
  }

  .section-items > .section-item:first-of-type {
    padding-right: 5%;
  }

  .section-items > .section-item:last-of-type {
    padding-left: 5%;
  }

  .section-item {
    flex: 1;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 640px) {
  .section-item {
    font-size: 0.875em;
  }
}

@media only screen and (min-width: 960px) {
  .section-item {
    font-size: 1em;
    max-width: 512px;
  }
  .section-item-content {
    font-size: 0.875em;
  }

  .items-1 .section-item:first-of-type {
    padding-left: 0;
  }
}

.featured-image {
  width: 100%;
  height: auto;
  max-width: 460px;
}

.page-title {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 700px;
}

.page-content {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 700px;
}

.page-content p {
  margin-bottom: 1.5em;
}

.page-article {
  padding: 3em 0 4.5em 0;
  background: #fff;
}

.section-header-content {
  color: rgba(0, 0, 0, 0.75);
}

.section-item-content {
  color: rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  .page-content {
    font-size: 1.125em;
  }

  .section-header-content {
    font-size: 1.125em;
  }
}


.site-background-container {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  min-height: 61.8vh;
  padding-top: 96px;

}

.site-background {
  min-height: 61.8vh;
  width: 100%;
}

.box-container {
  background: #ffffdd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  padding: 0.25em 0 1.75em 0;
  font-size: 0.875em;
}

.box {
  padding: 0 5%;
}
.box ul {
  padding-left: 0.5em;
}

.box ul li {
  margin-left: 1em;
}

@media only screen and (min-width: 768px) {
  .page-content.extra {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    padding: 0 3.75%;
  }

  .box-container {
    background: #ffffdd;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    margin: 0 -3.75%;
    padding: 0.125em 0 1.875em 0;

  }
}

.page-content .content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-content .content-list li {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;

}

.page-content .content-list li:first-child {
  padding-top: 0;
}

.page-content .content-list li:last-child {
  border-bottom: none;
}

.list-item-image-container {
  margin-bottom: 1em;
}

@media only screen and (min-width: 640px) {
  .page-content .content-list li {
    display: flex;
    font-size: 0.875em;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0 2.5em 0;
  }

  .page-content .content-list li > * {
    flex: 1;
  }

  .list-item-content-container {
    padding-left: 5%;
  }

  .list-item-image-container {
    padding-right: 5%;
    align-self: flex-start;
    margin-bottom: 0;
  }

}

.list-page .page-title,
.list-page .page-content {
  max-width: 1024px;
}

